@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
div.logo { font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;margin-bottom:10px;}
div.logo h1 {color:#222;margin:0 0 20px;font-size:28px;display:inline;line-height:20px;font-weight:bold;}
div.logo h1 img {vertical-align:top;margin-right:0px;text-align:right;}